<div class="custom-container">
    <form class="border border-1 rounded p-3 form-class">
        <div class="form-group">
            <div>
                <p class="text-center">Enter OTP sent to pranavlodh</p>
            </div>
            <div class="m-3">
                <input class="max-width form-control" type="text" name="password" placeholder="Enter Otp">
            </div>
            <div>
                <p class="text-center text-primary">{{otp_validation_message}}</p>
            </div>
        </div>
    </form>
    <form class="border border-1 rounded p-3 form-class">
        <div class="form-group">
            <div>
                <p class="text-center">Enter New Password</p>
            </div>
            <div class="m-3">
                <input class="max-width form-control" type="text" name="password" placeholder="Enter password">
            </div>
            <div class="m-3">
                <input class="max-width form-control" type="text" name="confirmpassword" placeholder="Re-enter password">
            </div>
            <div class="m-3 text-center">
                <button class="max-width btn btn-primary" type="submit">Submit</button>
            </div>
            <div>
                <p class="text-center text-primary">{{change_password_message}}</p>
            </div>
        </div>
    </form>
</div>